service integrated-vtysh-config
vrf TENANT-A
 vni 104001
 exit-vrf
!
router bgp {{ switches[ansible_hostname].bgp_as }}
 bgp router-id {{switches[ansible_hostname].lo.ipv4 }}
 bgp bestpath as-path multipath-relax
 neighbor fabric peer-group
 neighbor fabric remote-as external
 neighbor swp51 interface peer-group fabric
 neighbor swp52 interface peer-group fabric
 !
 address-family ipv4 unicast
  redistribute connected route-map LOOPBACK
 exit-address-family
 !
 address-family l2vpn evpn
  neighbor fabric activate
  advertise-all-vni
  advertise-svi-ip
 exit-address-family
!
router bgp {{ switches[ansible_hostname].bgp_as }} vrf TENANT-A
 neighbor internet peer-group
 neighbor internet remote-as external
 neighbor {{ switches[ansible_hostname].bgp_peer_ip }} peer-group internet
 !
 address-family ipv4 unicast
  aggregate-address 192.168.0.0/16 summary-only
 exit-address-family
 address-family l2vpn evpn
  advertise ipv4 unicast
 exit-address-family
!
route-map LOOPBACK permit 10
 match interface lo
!
