# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*.intf

# The loopback network interface
auto lo
iface lo inet loopback
    # The primary network interface
    address {{ switches[ansible_hostname].lo.ipv4 }}
    clagd-vxlan-anycast-ip {{ switches[ansible_hostname].lo.vxlan_anycast_ip }}

# The primary network interface
auto eth0
iface eth0 inet dhcp
	vrf mgmt

auto mgmt
iface mgmt
	address 127.0.0.1/8
	address ::1/128
	vrf-table auto

{% for item in switches[ansible_hostname].tointernet %}
auto {{ item }}
iface {{ item }}
  address {{ switches[ansible_hostname].internet_int_ip }}
  vrf TENANT-A

{% endfor %}

{% for item in switches[ansible_hostname].fabriclinks %}
auto {{ item }}
iface {{ item }}

{% endfor %}

{% for item in switches[ansible_hostname].VRF %}
auto {{ item }}
iface {{ item }}
    vrf-table auto
{% endfor %}

auto bridge
iface bridge
    bridge-ports {{ switches[ansible_hostname].bridge_ports }}
    bridge-vids {{ switches[ansible_hostname].bridge_vlans }}
    bridge-vlan-aware yes

auto peerlink
iface peerlink
    bond-slaves swp49 swp50

auto peerlink.4094
iface peerlink.4094
    address {{ switches[ansible_hostname].clag.clag_address }}
    clagd-backup-ip {{ switches[ansible_hostname].clag.clag_backup_ip }} vrf mgmt
    clagd-peer-ip {{ switches[ansible_hostname].clag.clag_peer_address | replace("/30", "") }}
    clagd-priority {{ switches[ansible_hostname].clag.clag_priority }}
    clagd-sys-mac {{ switches[ansible_hostname].clag.clag_sys_mac }}

auto {{ switches[ansible_hostname].server.server_bond }}
iface {{ switches[ansible_hostname].server.server_bond }}
    bond-slaves {{ switches[ansible_hostname].server.server_interface }}
    bridge-access {{ switches[ansible_hostname].server.server_vlan }}
    clag-id {{ switches[ansible_hostname].server.server_clag_id }}

{% for int in switches[ansible_hostname].interfaces %}
{%   set interface = switches[ansible_hostname].interfaces[int] %}
{% if interface.type == "svi" %}
auto vlan{{ interface.vlan }}
iface vlan{{ interface.vlan }}
    address {{ interface.address }}
    vlan-id {{ interface.vlan }}
    vlan-raw-device bridge
    vrf {{ interface.vrf}}

{% elif interface.type == "svi_l3_vni" %}
auto vlan{{ interface.vlan }}
iface vlan{{ interface.vlan }}
    vlan-id {{ interface.vlan }}
    vlan-raw-device bridge
    vrf {{ interface.vrf}}

{% elif interface.type == "vni" %}
auto vni{{interface.vxlan_id}}
iface vni{{interface.vxlan_id}}
    bridge-access {{interface.vlan}}
    bridge-learning off
    mstpctl-bpduguard yes
    mstpctl-portbpdufilter yes
    vxlan-id {{interface.vxlan_id}}
    vxlan-local-tunnelip {{ switches[ansible_hostname].lo.ipv4 | replace("/32", "") }}

{% else %}
{% endif %}
{% endfor %}
