vrf TENANT-A
 vni 104001
 exit-vrf
!
router bgp {{ switches[ansible_hostname].bgp_as }}
 bgp router-id {{ switches[ansible_hostname].lo.ipv4 }}
 bgp bestpath as-path multipath-relax
 neighbor fabric peer-group
 neighbor fabric remote-as external
 neighbor swp51 interface peer-group fabric
 neighbor swp52 interface peer-group fabric
 !
 address-family ipv4 unicast
  redistribute connected route-map LOOPBACK
 exit-address-family
 !
 address-family l2vpn evpn
  neighbor fabric activate
  advertise-all-vni
  advertise-svi-ip
 exit-address-family
!
route-map LOOPBACK permit 10
 match interface lo
!
{% for item in switches[ansible_hostname].serverbonds %}
interface {{ item }}
 evpn mh es-sys-mac {{ switches[ansible_hostname].interfaces[item].es_sys_mac }}
 evpn mh es-id {{ switches[ansible_hostname].interfaces[item].es_id}}
 evpn mh es-df-pref {{ switches[ansible_hostname].interfaces[item].es_df_pref }}

{% endfor %}

{% for item in switches[ansible_hostname].fabriclinks %}
interface {{ item }}
  evpn mh uplink

{% endfor %}
