#jinja2:  lstrip_blocks:True
network:
  version: 2
  ethernets:
    eth1:
      dhcp4: no
    eth2:
      dhcp4: no
  bonds:
    uplink:
      interfaces: [eth1,eth2]
      addresses: {% raw %} [{% endraw %} {{servers[ansible_hostname].address}} {% raw %}] {% endraw %}

      gateway4: {{ servers[ansible_hostname].gw }}
      parameters:
        mode: 802.3ad
        transmit-hash-policy: layer3+4
        lacp-rate: fast
        mii-monitor-interval: 100
      routes:
      {% for item in servers[ansible_hostname].routes %}
        - to: {{ item }}
          via: {{ servers[ansible_hostname].gw }}
      {% endfor %}
